/* .container-fluid.bg-dark {
   position: fixed;
   width: 100%;
   bottom: 0;
   left: 0;
  } */

.Footer{
    margin-top: 2rem;
    overflow-x: hidden!important;
    padding-bottom: 100px;
}

.Footer footer {
    background-color: black;
}

/* .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
} */

.image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img-nav {
    margin-left: 0;
}